version : "3.10"

services:
  server:
    build: .
    container_name: flat-finder
    ports:
      - "80:80"
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST_CONTAINER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - db 

  db:
    image: postgres:15-alpine
    container_name: flat-finder-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
